<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lcz.cloud_note.dao.ShareDao">
	<insert id="share" parameterType="com.lcz.cloud_note.entity.Share">
		insert into cn_share(
			cn_share_id,
			cn_share_title,
			cn_share_body,
			cn_note_id)
		values(
			#{cn_share_id},
			#{cn_share_title},
			#{cn_share_body},
			#{cn_note_id})
	</insert>
	<select id="findLikeTitle" parameterType="String" resultType="com.lcz.cloud_note.entity.Share">
		select * from cn_share where cn_share_title like #{title}
	</select>
	
	<select id="findById" parameterType="String" resultType="com.lcz.cloud_note.entity.Share">
		select * from cn_share where cn_share_id=#{shareId}
	</select>	
</mapper>








